extends ../layout

block content
  if codename
    div.row
      div.col-1
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/codenames/")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-10= title
      div.col-1
        a.btn.btn-outline-primary.btn-block.btn-sm(href="/codenames/edit/" + codename.id)
          <i class="bi bi-pen"></i>

  hr

  if codename
    table.table.table-borderless
      tbody
        tr
          td Datum
          td.font-weight-bold #{new Date(codename.createdAt).toLocaleDateString('se-SE')}
        tr
          td Tid
          td.font-weight-bold #{new Date(codename.createdAt).toLocaleTimeString('se-SE')}
        tr
          td Kodnamn
          td.font-weight-bold #{codename.name}
        tr
          td Stad
          td.font-weight-bold #{codename.location}
        if codename.address
          tr
            td Adress
            td.font-weight-bold #{codename.address}
        tr
          td Agent
          td.font-weight-bold #{manager.name}
        if manager.contact
          tr
            td
            td.font-weight-bold #{manager.contact}
        tr
          td Kund
          td.font-weight-bold #{customer.name}
        if customer.contact
          tr
            td
            td.font-weight-bold #{customer.contact}


  p.lead.text-center.mt-5 Terminaler

  hr

  if terminals.length
    div.list-group
      each terminal in terminals
        a.list-group-item.list-group-item-action(href="/terminals/" + terminal.id) #{terminal.macAddress} (#{terminal.nickname.name})
  else
    div.list-group
      p.text-center Inga terminaler än

  form.form-inline.mt-3(method="get" action="/terminals/create/")
    input(type="hidden", name="codename", value=codename.id)

    div.form-group.mb-2.pr-sm-3.w-75
      input.form-control.w-100(type="text", name="macAddress", autofocus, required)

    input.btn.btn-primary.mb-2.w-25(type="submit", value="Ny terminal")
