extends ../layout

block content

  if manager
    div.row
      div.col-1
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/managers")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-10= title
      form.col-1(method="post" action="/managers/delete/" + manager.id)
        button.btn.btn-outline-danger.btn-block.btn-sm(type="submit")
          <i class="bi bi-trash"></i>

  else
    div.row
      div.col-1
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/managers")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-10= title
      div.col-1
        a.btn.btn-outline-danger.btn-block.btn-sm.disabled
          <i class="bi bi-trash"></i>

  hr

  form.form-group(method="post")
      div.form-input
        label Namn
        input.form-control(type="text", name="name", value=form.name, autofocus)

      div.form-input.mt-3
        label Telefonnummer
        input.form-control(type="text", name="contact", value=form.contact)

      div.form-input.mt-3
        label Anteckning
        textarea.form-control(name="note")= form.note

      div.form-input.mt-3
          input.btn.btn-primary(type="submit", value="Skicka")
