extends ../layout

block content
  if terminal
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="javascript:history.back()")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      form.col-2(method="post" action="/terminals/delete/" + terminal.id)
        button.btn.btn-outline-danger.btn-block.btn-sm(type="submit")
          <i class="bi bi-trash"></i>

  else
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/codenames/" + codename.id)
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      div.col-2
        a.btn.btn-outline-danger.btn-block.btn-sm.disabled
          <i class="bi bi-trash"></i>
  hr

  form.form-group(method="post")
      div.row
        div.form-input.mt-3.col-10
          label Kodnamn
          select.form-control.custom-select(name="codename")
            if codenames
              each codename in codenames
                if form.codename
                  option(value=codename.id selected=(codename.id == form.codename.id)) #{codename.name}
                else
                  option(value=codename.id) #{codename.name}
        div.form-input.mt-3.col-2
          label <br>
          a.btn.btn-outline-primary.btn-block(target="popup" onclick="window.open('/codenames/create/','popup','width=600,height=600'); window.location.reload();")
            <i class="bi bi-plus"></i>

      div.form-input.mt-3
        label MAC Adress
        input.form-control(type="text", name="macAddress", value=form.macAddress, autofocus)

      div.row
        div.form-input.mt-3.col-10
          label Smeknamn
          select.form-control.custom-select(name="nickname")
            if nicknames
              each nickname in nicknames
                option(value=nickname.id selected=(nickname.id == form.nickname)) #{nickname.name}
        div.form-input.mt-3.col-2
          label <br>
          a.btn.btn-outline-primary.btn-block(target="popup" onclick="window.open('/nicknames/','popup','width=600,height=600'); window.location.reload();")
            <i class="bi bi-plus"></i>

      p.text-center.mt-3 Specifikationer
      hr

      div.form-input.mt-3
        label Moderkort
        input.form-control(type="text", name="motherboard", value=form.motherboard)

      div.form-input.mt-3
        label Processor
        input.form-control(type="text", name="processor", value=form.processor)

      div.form-input.mt-3
        label Grafikkort
        input.form-control(type="text", name="graphics", value=form.graphics)

      div.form-input.mt-3
        label RAM
        input.form-control(type="number", name="ram", value=form.ram)

      p.text-center.mt-3 Anslutning information
      hr

      div.form-input.mt-3
        label TeamViewer
        input.form-control(type="text", name="teamviewer", value=form.teamviewer)

      div.form-input.mt-3
          input.btn.btn-primary(type="submit", value="Skicka")
