extends ../layout

block content
  if terminal
    div.row
      div.col-2
        if terminal.codename
          a.btn.btn-outline-secondary.btn-block.btn-sm(href="javascript:history.back()")
            <i class="bi bi-arrow-left"></i>
        else
          a.btn.btn-outline-secondary.btn-block.btn-sm(href="javascript:history.back()" disabled)
            <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      div.col-2
        a.btn.btn-outline-primary.btn-block.btn-sm(href="/terminals/edit/" + terminal.id)
          <i class="bi bi-pen"></i>
    p.text-center (#{terminal.nickname.name})

  hr

  if terminal
    table.table.table-borderless
      tbody
        tr
          td Datum
          td.font-weight-bold #{new Date(terminal.createdAt).toLocaleDateString('se-SE')}
        tr
          td Tid
          td.font-weight-bold #{new Date(terminal.createdAt).toLocaleTimeString('se-SE')}
        if terminal.codename
          tr
            td Kodnamn
            td.font-weight-bold
              a(href="/codenames/" + terminal.codename.id) #{terminal.codename.name}
        if terminal.motherboard
          tr
            td Moderkort
            td.font-weight-bold #{terminal.motherboard}
        if terminal.processor
          tr
            td Processor
            td.font-weight-bold #{terminal.processor}
        if terminal.graphics
          tr
            td Grafikkort
            td.font-weight-bold #{terminal.graphics}
        if terminal.ram
          tr
            td RAM
            td.font-weight-bold #{terminal.ram} GB
        if terminal.teamviewer
          tr
            td TeamViewer
            td.font-weight-bold #{terminal.teamviewer}
