extends ../layout

block content
  if customer
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="javascript:history.back()")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      form.col-2(method="post" action="/customers/delete/" + customer.id)
        button.btn.btn-outline-danger.btn-block.btn-sm(type="submit")
          <i class="bi bi-trash"></i>

  else
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/customers")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      div.col-2
        a.btn.btn-outline-danger.btn-block.btn-sm.disabled
          <i class="bi bi-trash"></i>

  hr

  form.form-group(method="post")
      div.form-input
        label Namn
        input.form-control(type="text", name="name", value=form.name, autofocus)

      div.form-input.mt-3
        label Telefonnummer
        input.form-control(type="text", name="contact", value=form.contact)

      div.form-input.mt-3
        label Anteckning
        textarea.form-control(name="note")= form.note

      div.form-input.mt-3
          span.btn-group
            input.btn.btn-primary(type="submit", value="Skicka")
  
  hr

  if codenames.length
    div.list-group
      each codename in codenames
        a.list-group-item.list-group-item-action(href="/codenames/" + codename.id) #{codename.name}
  else
    div.list-group
      p.text-center Inga kodnamn.