extends ../layout

block content
  if nickname
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="javascript:history.back()")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      form.col-2(method="post" action="/nicknames/delete/" + nickname.id)
        button.btn.btn-outline-danger.btn-block.btn-sm(type="submit")
          <i class="bi bi-trash"></i>

  else
    div.row
      div.col-2
        a.btn.btn-outline-secondary.btn-block.btn-sm(href="/nicknames")
          <i class="bi bi-arrow-left"></i>
      p.lead.text-center.col-8= title
      div.col-2
        a.btn.btn-outline-danger.btn-block.btn-sm.disabled
          <i class="bi bi-trash"></i>

  hr

  form.form-group(method="post")
      div.form-input
        label Användare
        input.form-control(type="text", name="user", value=form.user.username readonly)

      div.form-input.mt-3
        label Smeknamn
        input.form-control(type="text", name="name", value=form.name, autofocus)

      div.form-input.mt-3
          input.btn.btn-primary(type="submit", value="Skicka")

  hr

  if terminals.length
    div.list-group
      each terminal in terminals
        a.list-group-item.list-group-item-action(href="/terminals/" + terminal.id) #{terminal.macAddress} #{terminal.codename.name} 
  else
    div.list-group
      p.text-center Inga terminaler med väld smecknamn